* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #0077b6, #00b4d8);
  color: #fefefe;
  font-family: monospace, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.container {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #f8f9fa;
}

.result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f9fa;
  padding: 4px;
  border-radius: 20px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#result {
  font-size: 1.2rem;
  color: #343a40;
  word-wrap: break-word;
}

#clipboard {
  background: transparent;
  border: none;
  color: #0077b6;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
#clipboard:hover {
  color: #023e8a;
}

.settings {
  margin: 20px 0;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.setting label {
  font-size: 1rem;
  color: #fefefe;
}

.setting input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: auto;
}

.btn {
  background: #0077b6;
  color: #fefefe;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-large {
  width: 100%;
}

.btn:hover {
  background: #023e8a;
}
